h1{
    color: rgb(51, 193, 29);
    margin: 0;
}

h2{
    color: rgb(171, 210, 64);
    margin: 0;
}

header{
    background-color: aqua;
}

main{
    background-color: rgb(43, 202, 226);
}

footer{
    background-color:rgb(240, 192, 174);
}